@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght,ROND@900,100&display=swap');


:root {
    --color-one: oklch(var(--p));
    --color-two: oklch(var(--s));
    --bg-size: 200%;
}

* {
    transition: border-radius 0.3s ease; /* Smooth transition for border-radius */

}

.avtr {
    animation: avtr-pulse 2s infinite ease-in-out;
    transform-origin: center center;
    will-change: transform;
}

@keyframes avtr-pulse {
    0% {
        box-shadow: 0 0 0 0 var(--color-one);
    }
    70% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.main-shadow {
    height: 55px;
    background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one),
            var(--color-two),
            var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    font-family: 'Doto', sans-serif;
    letter-spacing: -1px;
}

.main-shadow-before {
    height: 55px;
    background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one),
            var(--color-two),
            var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    margin-top: -55px;
    filter: blur(10px);
    user-select: none;
    font-family: 'Doto', sans-serif;
    letter-spacing: -1px;
}

@media (prefers-reduced-motion: no-preference) {
    .main-shadow {
        animation: move-bg 4s linear infinite;
    }
    .main-shadow-before {
        animation: move-bg 4s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

body {
    overflow-y: scroll;
    position: relative;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    background: oklch(var(--b2)) url('assets/img/graph-paper.svg') repeat center left 6.8rem fixed !important;
    background-size: 10rem !important;
    background-blend-mode: exclusion;
    font-family: "Roboto", sans-serif !important;
}

.content-wrap {
    padding-bottom: 186px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 186px;
}

.flip-container {
    perspective: 1200px;
    display: inline-block;
    position: relative;
    width: 320px;
    height: 70px;
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    transition: transform 0.8s cubic-bezier(0.68, -0.9, 0.32, 1.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-front {
    z-index: 2;
    background: transparent;
    transform: rotateX(0deg) scale(1) skew(0);
}

.flip-back {
    z-index: 1;
    background: transparent;
    transform: rotateX(180deg) scale(0.3) skew(20deg);
}

.flip-container.flipped .flip-front {
    transform: rotateX(180deg) scale(0.3) skew(-20deg);
}

.flip-container.flipped .flip-back {
    transform: rotateX(0deg) scale(1) skew(0);
}

.section {
    opacity: 0;
    scale: 0.85;
    transition: opacity 0.4s ease, scale 0.4s cubic-bezier(0.4,0.2,0.2,1);
}

.section.visible {
    opacity: 1;
    scale: 1;
}

/*noinspection CssUnknownProperty,CssInvalidFunction,CssInvalidPropertyValue*/
.progress-bar {
    position: fixed;
    height: 2px;
    width: 100%;
    top: 4.355rem;
    transform-origin: 0 50%;
    z-index: 20;
    animation: scaleProgress auto linear;
    background: linear-gradient(to right, var(--color-one), var(--color-two));
    animation-timeline: scroll(root);
}

/*noinspection CssUnknownProperty,CssInvalidFunction,CssInvalidPropertyValue*/
.progress-bar-before {
    position: fixed;
    height: 2px;
    width: 100%;
    top: 4.4rem;
    transform-origin: 0 50%;
    z-index: 15;
    animation: scaleProgress auto linear;
    background: linear-gradient(to right, var(--color-one), var(--color-two));
    animation-timeline: scroll(root);
    filter: blur(3px);
}

@keyframes scaleProgress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.entry {
    border-radius: 200px;
}

.no-pr {
    padding-right: 0 !important;
}

.entry::before {
    content: '';
    position: absolute;
    inset: 0;
    /*noinspection CssUnresolvedCustomProperty*/
    border-radius: var(--border-radius);
    /*noinspection CssUnresolvedCustomProperty*/
    background: radial-gradient(var(--circle-width) circle at var(--x) var(--y),
    var(--color-one), transparent);
}

.back-grid {
    background: linear-gradient(to bottom right, oklch(var(--b1)), oklch(var(--p) / 0.4));
}

.back-grid-invert {
    background: linear-gradient(to top right, oklch(var(--b1)), oklch(var(--p) / 0.4));
}

.bg-transparent {
    background: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.bg-opacity-100 {
    background: rgba(255, 255, 255, 0.9); /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

